{% extends "base.html" %}

{% block content %}

<img src='{{ STATIC_URL }}musicontour-logo.png' alt='MusiContour logo'>

<p>Contour operation</p>

<table>
  <thead>
    <tr>
      <th>Operation</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Original</td>
      <td>{{ code }}</td>
    </tr>
    {% for di in op_dicts %}
    <tr>
      <td>{{ di.name }}</td>
      <td>{{ di.value }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="chart" data-height="500">
  <tbody>
    <tr>
      <th>Original {{ code }}</th>
      {% for cps in cseg %}
      <td>{{ cps }}</td>
      {% endfor %}
    </tr>
    {% for di in op_dicts %}
    <tr>
      {% if di.graph %}
      <th>{{ di.name }} {{ di.value }}</th>
      {% for cps in di.lvalue %}
      <td>{{ cps }}</td>
      {% endfor %}
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
