{% extends "base.html" %}

{% block content %}

<img src='{{ STATIC_URL }}musicontour-logo.png' alt='MusiContour logo'>

<p>Contour operation</p>

<table>
  <thead>
    <tr>
      <th>Operation</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Original</td>
      <td>{{ code }}</td>
    </tr>
    {% for di in op_dicts %}
    <tr>
      <td>{{ di.name }}</td>
      <td>{{ di.value }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript" language="javascript">
    $(document).ready(function(){

    var csegs_values=new Array();
    csegs_values[0] = {{ cseg }}

    {% for di in op_dicts %}
    {% if di.op_type == 'Plot' %}
       csegs_values.push({{ di.lvalue }})
    {% endif %}
    {% endfor %}

    $.jqplot('chart1', csegs_values, {
       title: 'MusiContour',
       legend: {
          show:true, location: 'e',
          placement: 'outside'
       },
       series: [
          {label: 'Original cseg: {{ code }}'},
       {% for di in op_dicts %}
       {% if di.op_type == 'Plot' %}
          {label: '{{ di.name }}: {{ di.value }}'},
       {% endif %}
       {% endfor %}
       ]
    });

  });
</script>

<div id="chart1" style="margin-top:20px; margin-left:20px; width:400px; height:300px;"></div>

{% endblock %}
