{% extends "base.html" %}

{% block content %}
        <h1>Login to Visimus</h1>

        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form id="login" name="login" method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="/">
            <div class="form-text">
            <p><input type="checkbox" name="remember" value="yes"/>Remember me on this computer</p>
            <p><button id="button-login" type="submit" class="sexybutton sexysimple sexygreen sexyxxl">login</button></p>
            </div>
        </form>

    <script type="text/javascript">
        document.getElementById('id_username').focus()
    </script>

{% endblock %}
