{% extends "base.html" %}

{% block content %}
    <h1>Harmony Visualizer</h1>

<p>This app shows a visualization of a voice leading realization. step
  by step. Interactively, the app suggests notes for voices while the
  user decides his own lines. It's useful to improves the
  understanding of multiple notes choices in voice leading
  realization. The app is in development, but a mockup can be seen in
  the following video.</p>

    <iframe width="420" height="315" src="http://www.youtube.com/embed/fAqILxSyrPk" frameborder="0" allowfullscreen></iframe>
{% endblock %}
