{% extends "base.html" %}

{% block content %}
    <h1>Visimus: Music Visualization</h1>

    <p>This page has a few web apps for music visualization developed by the Genos team.</p>

    <ul>
        <li>
            <b>Matrix: </b>a simple app to search for notes in a
            12-tone matrix.
        </li>
        <li>
            <b>Contour: </b>an app to calculate and plot musical
            contour operations. It's a web interface for MusiContour.
        </li>
        <li>
            <b>Harmony: </b>a mockup of a future app to show voice
            leading possibilities visualization.
        </li>
    </ul>
{% endblock %}
